// faq-area

.faq-area {
    .faq-wrap {
        max-width: 740px;
        margin: 0 auto;

        .faq-item {
            margin-bottom: 70px;
            padding: 20px;
            box-shadow: 0px 2px 12px 2px rgba(4, 0, 52, 0.1);
            border-radius: 10px;

            h2 {
                font-weight: 700;
                font-size: 27px;
                margin-bottom: 30px;
            }
        }

        .accordion-item {
            margin-bottom: 20px;
            border: 2px solid #08193a;
            border-radius: 5px;

            .accordion-button {
                font-size: 16px;
                color: $black;

                &:not(.collapsed) {
                    background: none;
                    box-shadow: none;
                    color: $black;
                    filter: grayscale(100%);
                }
                &:after {
                    filter: grayscale(100%);
                }

                &:focus {
                    background: none;
                    box-shadow: none;
                    color: $black;   
                }
            }

            p {
                font-size: 16px;
            }

        }
    }
}