/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/
/* 3.5 hero-section */

.hero-section {
	position: relative;
	z-index: 1;

	.container {
		position: relative;
	}


	.hero-item {
		position: relative;


		.hero-text {
			background: #FFF;
			padding: 20px;
			z-index: -1;

			@media(max-width:991px) {
				margin: 0;
				text-align: center;
			}

			@media(max-width:575px) {
				padding: 10px;
			}

			h2 {
				font-weight: 800;
				font-size: 52px;
				text-transform: capitalize;
				line-height: 1.3em;
				margin-top: 20px;
				margin-bottom: 30px;

				@media(max-width:1399px) {
					font-size: 30px;
					margin-bottom: 20px;
				}

				@media(max-width:1199px) {
					font-size: 25px;
					line-height: 40px;
					margin-bottom: 10px;
				}

				@media(max-width:575px) {
					font-size: 22px;
					line-height: 30px;
				}

				a {
					color: $dark-gray;

					&:hover {
						color: $theme-primary-color;
					}
				}
			}

			p {
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 35px;
				margin-bottom: 30px;
				max-width: 635px;

				@media(max-width:1199px) {
					font-size: 16px;
					line-height: 30px;
				}

			}
		}

	}

	.hero-item .hero-img {
		-webkit-animation: fadeOutRight 1.2s both;
		animation: fadeOutRight 1.2s both;
	}

	.slick-current .hero-item .hero-img {
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
	}

	.hero-img {
		-webkit-animation: fadeOutLeft 1.2s both;
		animation: fadeOutLeft 1.2s both;
	}


	.slick-current .hero-img {
		-webkit-animation-name: fadeInRight;
		animation-name: fadeInRight;
	}

	.slick-current .hero-img {
		-webkit-animation-delay: .7s;
		animation-delay: .7s;
	}


	.hero-item .hero-text {
		-webkit-animation: fadeOutLeft 1.3s both;
		animation: fadeOutLeft 1.3s both;
	}

	.slick-current .hero-item .hero-text {
		-webkit-animation-name: fadeInRight;
		animation-name: fadeInRight;
	}

	.hero-text {
		-webkit-animation: fadeOutLeft 1.3s both;
		animation: fadeOutLeft 1.3s both;
	}

	.slick-current .hero-text {
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
	}

	.slick-current .hero-text {
		-webkit-animation-delay: .6s;
		animation-delay: .6s;
	}

	.slick-prev,
	.slick-next {
		background-color: transparentize($theme-primary-color2, .5);
		border: 1px solid $theme-primary-color2;
		width: 55px;
		height: 55px;
		z-index: 10;
		border-radius: 50%;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		transition: all 0.5s;
		opacity: 0;
		visibility: hidden;
	}

	.slick-prev:hover,
	.slick-next:hover {
		background-color: #d1af1e;
	}

	@media (max-width: 991px) {

		.slick-prev,
		.slick-next {
			display: none !important;
		}
	}

	.slick-prev {
		left: -150px;
	}

	.slick-prev:before {
		font-family: "themify";
		content: "\e629";
		opacity: 1;
	}

	.slick-next {
		right: -150px;
	}

	.slick-next:before {
		font-family: "themify";
		content: "\e628";
		opacity: 1;
	}

	&:hover .slick-prev {
		left: -100px;
		opacity: 1;
		visibility: visible;
	}

	&:hover .slick-next {
		right: -100px;
		opacity: 1;
		visibility: visible;
	}


	.slick-dots {
		margin-bottom: -40px;

		li {
			width: auto;
			margin: 0 10px;

			button {
				width: 12px;
				height: 12px;
				background: #AFAFAF;
				border-radius: 50%;

				&::before {
					font-size: 0;
				}
			}

			&.slick-active {
				button {
					background: $theme-primary-color;
					width: 30px;
					border-radius: 6px;
					position: relative;

					&:before {
						position: absolute;
						left: -5px;
						top: -4px;
						width: 40px;
						height: 20px;
						content: "";
						border: 1px solid $theme-primary-color;
						border-radius: 10px;
					}
				}
			}
		}

	}


}