/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// fonts
$base-font-size: 15;
$base-font: "Prompt", sans-serif;
$heading-font: "Prompt", sans-serif;



// color
$dark-gray: #181818; //
$body-color: #333;
$white: #fff;
$light: #DDDDDD; //
$black: #131313;
$small-black: #333;
$cyan: #F9F9F9; //

$theme-primary-color: #08193a; //
$theme-primary-color2: #d1af1e; //
$body-bg-color: #fff;
$section-bg-color: #F1E2CC; //
$text-color: #333; //
$text-light-color: #6F6F6F; //
$heading-color: $dark-gray;
$border-color: #3C3C3C; //
$border-color-s2: #F1E2CC; //